SistemaPagoImpuestos/src/META-INF/wsdl/localhost_8080/claro.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/claro?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<message name="find">
<part name="parameters" element="tns:find"></part>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<message name="pagarComprobante">
<part name="parameters" element="tns:pagarComprobante"></part>
</message>
<message name="pagarComprobanteResponse">
<part name="parameters" element="tns:pagarComprobanteResponse"></part>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"></part>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"></part>
</message>
<message name="buscarComprobantesCodigo">
<part name="parameters" element="tns:buscarComprobantesCodigo"></part>
</message>
<message name="buscarComprobantesCodigoResponse">
<part name="parameters" element="tns:buscarComprobantesCodigoResponse"></part>
</message>
<portType name="ClaroWS">
<operation name="update">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws/ClaroWS/updateRequest" message="tns:update"></input>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws/ClaroWS/updateResponse" message="tns:updateResponse"></output>
</operation>
<operation name="find">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws/ClaroWS/findRequest" message="tns:find"></input>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws/ClaroWS/findResponse" message="tns:findResponse"></output>
</operation>
<operation name="delete">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws/ClaroWS/deleteRequest" message="tns:delete"></input>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws/ClaroWS/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="create">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws/ClaroWS/createRequest" message="tns:create"></input>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws/ClaroWS/createResponse" message="tns:createResponse"></output>
</operation>
<operation name="pagarComprobante">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws/ClaroWS/pagarComprobanteRequest" message="tns:pagarComprobante"></input>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws/ClaroWS/pagarComprobanteResponse" message="tns:pagarComprobanteResponse"></output>
</operation>
<operation name="findAll">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws/ClaroWS/findAllRequest" message="tns:findAll"></input>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws/ClaroWS/findAllResponse" message="tns:findAllResponse"></output>
</operation>
<operation name="buscarComprobantesCodigo">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws/ClaroWS/buscarComprobantesCodigoRequest" message="tns:buscarComprobantesCodigo"></input>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws/ClaroWS/buscarComprobantesCodigoResponse" message="tns:buscarComprobantesCodigoResponse"></output>
</operation>
</portType>
</definitions>