SistemaPagoImpuestos/src/META-INF/wsdl/localhost_8080/dgr.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="buscarComprobantesCodigo" type="tns:buscarComprobantesCodigo"></xs:element>

<xs:element name="buscarComprobantesCodigoResponse" type="tns:buscarComprobantesCodigoResponse"></xs:element>

<xs:element name="create" type="tns:create"></xs:element>

<xs:element name="createResponse" type="tns:createResponse"></xs:element>

<xs:element name="delete" type="tns:delete"></xs:element>

<xs:element name="deleteResponse" type="tns:deleteResponse"></xs:element>

<xs:element name="find" type="tns:find"></xs:element>

<xs:element name="findAll" type="tns:findAll"></xs:element>

<xs:element name="findAllResponse" type="tns:findAllResponse"></xs:element>

<xs:element name="findResponse" type="tns:findResponse"></xs:element>

<xs:element name="pagarComprobante" type="tns:pagarComprobante"></xs:element>

<xs:element name="pagarComprobanteResponse" type="tns:pagarComprobanteResponse"></xs:element>

<xs:element name="update" type="tns:update"></xs:element>

<xs:element name="updateResponse" type="tns:updateResponse"></xs:element>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="arg0" type="tns:claro" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claro">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoPagado" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="montoTotal" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="nombreServicio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nroTelefono" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="vencimiento" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:claro" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="arg0" type="tns:claro" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="arg0" type="tns:claro" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:claro" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarComprobante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarComprobanteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarComprobantesCodigo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarComprobantesCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:claro" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>