SistemaPagoImpuestos/xml-resources/web-service-references/BuscarComprobantesImpPagolWS/wsdl/localhost_8080/BuscarComprobantesImpPagolWSService/BuscarComprobantesImpPagolWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://beans/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://beans/">

<xs:element name="buscarComprobantesPago" type="tns:buscarComprobantesPago"/>

<xs:element name="buscarComprobantesPagoResponse" type="tns:buscarComprobantesPagoResponse"/>

<xs:complexType name="buscarComprobantesPago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarComprobantesPagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:comprobantePago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobantePago">
<xs:sequence>
<xs:element name="atrributosAdicionales" type="tns:atributoAdicional" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="montoTotal" type="xs:double"/>
<xs:element name="nroComprobante" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atributoAdicional">
<xs:sequence>
<xs:element name="nombreAtributo" type="xs:string" minOccurs="0"/>
<xs:element name="valorAtributo" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>